@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.navbar-brand {
  font-family: 'Fasthand', cursive;
}

/* login ragister page  */
body {
  background-color: #130f40 !important;
  color: #fff !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: cursive;
}
.buttom {
  margin-top: auto;
  width: 100%;
  padding: 1rem;
  height: fit-content;
  background-color: #30336b;
  text-align: center;
  line-height: 1.8rem;
}

#err {
  width: 70%;
  height: 70vh;
  margin: 100px auto 10px auto;
}
#err_txt{
  font-size:1.5rem;
  color: royalblue;
  display: inline-block;
  text-align: center;
}

/*  password :valid */
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #130f40;
  color: #000;
  position: relative;
  margin-top: 5px;
}

#message p {
  font-size: 14px;
  display: block;
  text-align: start;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* password hidden */
.svg {
  width: 20%;
}

.showIn {
  position: relative;
}

.show {
  position: absolute;
  right: 0;
  top: 12px;
}

svg {
  color: green;
  font-size: 25px;
}

/*  error show style  */
#gmailErr {
  line-height: 0;
}

#passErr {
  line-height: 0;
}

/* user page  */
.box {
  width: 60vw;
  height: max-content;
  background-color: #00000089;
  margin: 100px auto;
  padding: 25px;
}

thead,
tbody tr {
  color: #fff !important;
}

/* fasmass style */
.main {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  border-left: 20px solid #badc58;
  position: relative;
}
.left_section{
  width: 30%;
}
.right_section{
  width: 70%;
}
.right_section_top{
  z-index: 100;
  padding: 10px;
}
.all_user {
  background-color: #30336b;
  width: 100%;
  height: 100vh;
  padding: 8px;
  overflow: auto;
}
.all_user tbody tr{
  cursor: pointer;
}
.all_user tbody tr:hover{
  background-color: #0000004c;
}
.userDetails{
    padding: 20px 0;
    position: relative;
}
.userDetails p{
  text-align: center;
  margin: 0;
  padding: 8px 0 0 0;
}
#userPic{
  width: 100px;
  height: 90px;
  margin: auto;
}
#userPic_n{
  width: 50px;
  height: 40px;
  margin: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
#userPic_top{
  width: 65px;
    height: 60px;
    border: 1px solid;
    background-color: #130f40;
    cursor: pointer;
    margin-right: 20px;
}
#sec tr td{
  padding:8px 0 0 0;
}
#send{
  height: 50px;
  color: #fff;
  background-color:#6367c4;
  padding: 10px !important;
}
#send::placeholder{
  color: #ffffff8a;
}
#sendBtn{
  height: 50px;
  width: 80px;
  font-size: 22px;
}
/* api image style  */
.all_user tbody img{
  width: 5.5vw;
  border-radius:50%;
  height: 70px;
  padding: 5px;
  margin: 0;
}
.mess_box {
  width: 100%;
  height:100vh;
  background-color: #686de0;
  overflow: scroll;
}

.messLeft {
  text-align: left;
  margin-right: 10%;
  margin-left: 20px;
  margin-top: 10px;
}

.messRight {
  text-align: right;
  margin-left: 10%;
  margin-right: 20px;
  margin-top: 10px;
}
.messRight:last-child{
  margin-bottom: 100px;
}
#messRight_p{
  background: rgba(255, 68, 0, 0.758);
    display: inline-block;
    padding: 5px 5px 0 20px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}
.mess_box b {
  border-bottom: 1px solid rebeccapurple;
}
#user1{
  display: none;
  position: relative;
}
.find_box{
  width: 100%;
  height: fit-content;
  padding: 15px 5px;
  background-color: black;
  border: 2px solid wheat;
  z-index: 100;
}
#userFind{
  text-align: center;
  color: gray;
  display: none;
}
.animate {
  animation: animatetop 1s
}

@keyframes animatetop {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
#searchUser{
  cursor: pointer;
}
/* send input style */
.send{
  position: absolute;
  bottom: 0;
  width: 98.5%;
}
.send_btn {
  margin-top: 6px;
}

/* logout style  */
.userSeting {
  width: 65px;
  height: 60px;
  /* border-radius:10px; */
  border: 1px solid;
  background-color: #130f40;
  cursor: pointer;
}
.userSeting img{
  width: 100%;
  height: 100%;
   border-radius: 10px;
}

.more {
  width: 20vw;
  height: max-content;
  padding: 10px 8px;
  background-color: #487eb0;
  border: 2px solid #fff;
  position: absolute;
  right: 0;
  top: 5rem;
  border-radius: 3px;
  z-index: 50;
  display: none;
}

.more * {
  color: #fff;
  font-weight: bolder;
}

.more svg {
  width: 2rem;
  height: 100%;
  margin-left: 10px;
  position: absolute;
  right: 0;
  margin-top: -4px;
  border: 2px solid lightgreen;
  padding: 1px;
  background-color: #e84118;
}

/* image upload style  */
#picUp {
  background-color: orange;
  color: #fff;
  padding: 4px;
  border: 1.6px solid #fff;
  display: block;
  width: 40%;
  margin: 0;
  position: absolute;
  right: 5px;
}
#picUp:hover{
  background-color: #fff;
  color: orange;
  border:2px solid orange;
}
.imgUp{
  display: none;
  z-index: 101;
  background-color: #30336b;
  border: 3px solid green;
  border-radius: 5px;
  width: 40%;
  height: max-content;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 0 450px 150px darkorange;
}
.close{
  top: 5px;
  right: 5px;
  background-color: red;
  color: #fff;
  padding: 1.5px 10px;
  position: absolute;
  border-radius: 4px;
  border:2px solid orange;
  cursor: pointer;
}